@charset "UTF-8";

$regular: 'Montserrat', sans-serif;
$secondary: 'Barlow Condensed', sans-serif;


#es-rc #es-rc-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    max-width: 980px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    color: #000;
    background: #fff;

    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Montserrat', sans-serif;
        color: #000;
        margin: 0
    }

    p {
        margin: 0;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .es-kv {
        &__logo {
            background: #000;
            padding: 20px 16px;
        }

        &__badge {
            display: none;
        }

        &__left {
            position: relative;

        }

        &__headline {
            text-transform: uppercase;
            color: #FFF;
            position: absolute;
            bottom: 0;
            font-weight: 700;
            font-size: 22px;
            padding: 16px;
        }

        &__right {
            position: relative;
        }

        &__packshot {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
        }

        @media (min-width: 576px) {
            position: relative;
            margin-top: 40px;

            &__badge {
                position: absolute;
                display: block;
                top: -40px;
                right: 40px;
                z-index: 2;
            }

            &__packshot {
                bottom: -11px;
                left: -8px;
            }

            &__container {
                display: flex;
                flex-direction: row;
            }

            &__headline {
                font-size: 18px;
            }
        }

        @media (min-width: 768px) {
            &__headline {
                font-size: 28px;
            }
        }

        @media (min-width: 882px) {
            &__headline {
                font-size: 32px;
            }
        }

        @media (min-width: 992px) {
            &__headline {
                font-size: 36px;
            }
        }
    }

    .es-header {
        font-family: $secondary;
        font-weight: 400;
        text-align: center;
        font-size: 32px;
        padding: 1.5em;
        background-color: #FBC1C2;
        background-image: url("../images/items-2.png");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;

        span {
            font-weight: 700;
        }

        @media (min-width: 768px) {
            font-size: 44px;
        }
    }

    .es-features {
        background-color: #C55E71;
        color: #FFF;

        &__square {
            aspect-ratio: 1/1;
            justify-content: center;
        }

        &__square--1,
        &__square--4 {
            padding: 32px;
            display: flex;
            flex-direction: column;
            gap: 48px;
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &__text--top {
            font-size: 32px;
            font-weight: 700;
        }

        &__text--big {
            font-size: 50px;
            font-weight: 700;
            text-align: center;
        }

        @media (min-width: 576px) {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &__square {
                width: 50%;
            }

            &__square--1 {
                order: 1;
            }

            &__square--2 {
                order: 2;
            }

            &__square--3 {
                order: 3;
            }

            &__square--4 {
                order: 4;
            }

        }

        @media (min-width: 576px) and (max-width: 767px) {
            &__text--top {
                font-size: 22px;
            }

            &__text--big {
                font-size: 38px;
            }
        }

        @media (min-width: 768px) {
            &__text--top {
                font-size: 29px;
            }

            &__text--big {
                font-size: 50px;
            }
        }

        @media (min-width: 882px) {
            &__text--top {
                font-size: 36px;
            }

            &__text--big {
                font-size: 58px;
            }
        }
    }
}